lightning==2.4.0
omegaconf==2.3.0
pandas==2.2.2
scikit-learn==1.5.2
transformers==4.44.2
wandb==0.18.0
seaborn==0.13.2
git+https://github.com/NVIDIA/NeMo.git
git+https://github.com/wanchichen/espnet.git@ssl#egg=espnet
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
--extra-index-url https://download.pytorch.org/whl/cu118
lhotse==1.29.0
jiwer==3.0.5
pyannote.audio==3.3.2
webdataset==0.2.100
datasets==3.2.0
ipython==8.30.0
kornia==0.7.4
nlpaug==1.1.11
